<section class="container mt-2">
  <owl-carousel-o [options]="carouuselOptions">
    <ng-template carouselSlide>
      <div class="card">
        <form [formGroup]="storyForm" (ngSubmit)="addStory()">
          <div class="card-header fw-bold">Add Story</div>
          <div class="card-body">
            <div class="card-text">
              <textarea
                class="form-control"
                placeholder="Story Content"
                formControlName="content"
              ></textarea>
            </div>
          </div>
          <div
            class="card-footer text-muted d-flex justify-content-between align-items-center px-4"
          >
            <div class="input">
              <label for="file"
                ><i class="fa-regular fa-file-image fa-2x text-primary"></i
              ></label>
              <input
                type="file"
                id="file"
                hidden
                (change)="addstoryImg($event)"
              />
            </div>
            <button class="btn btn-primary">Add Story</button>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template carouselSlide *ngFor="let story of allStories">
      <div class="card position-relative">
        <a
          class="position-absolute text-dark"
          (click)="removeStory(story?.['_id'])"
          ><i class="fa-solid fa-trash fs-4 p-2 delete bg-white rounded"></i
        ></a>
        <img
          *ngIf="story?.['storyImg'] !=''"
          [src]="_story.serverUrl + story?.storyImg"
          class="card-img h-100 rounded"
          alt="Story Img"
        />
        <p class="position-absolute content">
          {{ story?.content }}
        </p>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
