.card {
  height: 300px;
  width: 250px;
}

textarea {
  resize: none;
  height: 170px;
}

.content {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}

.delete:hover {
  color: #f00;
  cursor: pointer;
}
